body{
    font-family: arial;
    background-color: rgb(202, 147, 147);
}

.inventory {
    background-color: white;
    padding : 20px;
    margin: 50px auto;
    width: 400px;
    border-radius: 10px;
}
button {
    background-color: rgb(182, 182, 223);
    color: white;
    padding: 10px;
    border:none;
    border-radius: 5px;
}
